* {
    /* need that lines to remove white browser border */
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #d4fff7;
}

.title-name {
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}