* {
    /* need that lines to remove white browser border */
    margin: 0;
    padding: 0; 
}

:root {
    --main-color: #D4FFF7;
}

.header-class {
    position: relative;
    width: 100%;
    height: 60px;
    background-color: var(--main-color);
}

.footer-class {
    position: absolute;
    width: 100%;
    height: 60px;
    bottom: 0;
    background-color: var(--main-color);
}

.title-name {
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}