.post-box {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 50%;
    height: 85px;

    background: #D5FFF7;
    border-radius: 15px;

    margin-top: 20px;
    margin-left: 25%;
}

.post-title {
    position: fixed;

    font-family: 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.tick-todo-image {
    position: sticky;

    width: 100px;
    height: 100px;
    
    margin-right: 98%;
    margin-bottom: 11%;
}