* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica;
}

.post-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    width: 50%;
    height: 85px;

    background: rgba(221, 221, 221, 0.364);
    border-radius: 15px;

    margin-top: 20px;
    margin-left: 25%;
}

.post-title {
    font-size: 20px;
    margin-left: 5%;
}

.post-title{
    flex: 6;
}

.post-box {
    flex: 1;
}

.post-button {
    flex: 1;

    width: auto;
    height: 30px;

    margin: 20px;
    text-decoration: none;
}

.link-button {
    width: auto;
    height: auto;

    text-decoration: none;

    color: #555;
}

.student-answer-field {
    border: 3px solid #bbb;
}

.submit-button {
    width: 100px;
    height: 50px;
}