* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica;
}

.course-box {
    position: relative;

    width: 300px;
    height: 200px;

    /* background: #d5fff7; */
    background: rgba(221, 221, 221, 0.364);
    border: 1px solid #555;
    border-radius: 15px;
}

.course-title {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 49px;

    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;

    color: #000000;

    /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}

.open-course-button {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 40px;

    font-style: normal;
    font-weight: 400;
    font-size: 22px;

    line-height: 27px;

    color: #000000;
    background-color: white;

    box-sizing: border-box;

    background: #ffffff;
    border: 1px solid #555;
    border-radius: 15px;

    margin-top: 100px;

    transition-duration: 0.4s;
}

.open-course-button:hover {
    color: #ddd;
    background-color: #000000;
}

.flex-row-container > .flex-row-item {
    flex: 1 1 30%; /*grow | shrink | basis */
}

.flex-row-item {
    width: 345px;
    padding: 40px;
    margin: 20px;
}
