.course-preview-box {
    display: flex;
    justify-content: center;
    text-align: center;

    align-items: center;

    width: 50%;
    height: 100px;
    margin-left: 25%;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;

    background: rgba(221, 221, 221, 0.364);
    border: 1px solid #555;
    border-radius: 30px;
}

.buttons {
    display: flex;
    flex-direction: column;
}

.course-title {
    flex: 4;
    width: auto;

    font-style: normal;
    font-weight: 500;
    font-size: 22px;

    color: #000000;
}

.open-course-button {
    flex: 1;
    margin: 5px;

    height: 100px;
    width: 100px;

    font-style: normal;
    font-size: 14px;

    color: #000000;
    background-color: white;

    box-sizing: border-box;

    background: #ffffff;
    border: 1px solid #555;
    border-radius: 30px;

    transition-duration: 0.4s;
}

.open-course-button:hover {
    color: #ddd;
    background-color: #000000;
}
