* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica;
}

.course-details-page {
    height: 84vh;
}

.course-details-title {
    flex: 5;

    display: flex;
    align-items: center;
    text-align: center;

    width: 300px;
    height: 100px;
    margin-left: 10%;

    font-weight: 600;
    font-style: normal;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
}

.sub-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.course-actions {
    flex: 2;
}

.no-posts-title {
    display: flex;
    justify-content: center;
    text-align: center;
}

.title-input {
    border: 3px solid #bbb;
}

input[type='text']:focus {
    border: 3px solid #555;
}

.description-input {
    border: 3px solid #bbb;
}

.course-create {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 25%;
    margin-right: 25%;
}

.course-details-back-button {
    flex: 1.5;
}

.cdb-button-style {
    width: 100px;
    height: 50px;
}

.date-picker {
    margin-bottom: 20px;
}
