* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica;
}

.course-details-page {
    height: 84vh;
}

.course-details-title {
    flex: 5;

    width: 300px;
    height: 100px;
    margin-left: 10%;
    font-weight: 600;

    font-style: normal;
    font-size: 30px;
    line-height: 36px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;

    /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}

.sub-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.course-actions {
    flex: 2;
}
